<!doctype html>
<html>

    <head>
        <title>Авторизация</title>
    </head>


    <body>

        <h1>Авторизация</h1>

        <div class="flexbox-container"> 
                
            <form action="/" method="POST">

                <div>
                    <label>Логин:</label>
                    <input type="text" name="login" placeholder="МодныйКрокодил">
                </div>

                <div>
                    <label>Пароль:</label>
                    <input type="password" name="password" placeholder="UnhackablePassword">
                </div>

                <div>
                    <input type="submit">
                </div>

            </form>

            <a href="/register">Регистрация</a>

        </div>

    </body>
</html>

