body {
  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outer-container{
  margin: 5vh;
}

.gif{
  border-radius: 2%;
  border: solid 1px black;
  margin-top: 30px;
}